langchain
langchain-community
langchain-huggingface 
langchain-ollama
langgraph
langgraph-checkpoint-sqlite
google-genai
faiss-cpu
json5
python-dotenv
dotenv
numpy
pandas
streamlit
huggingface_hub
rank_bm25
uuid
json





